@import "tailwindcss";

@theme {
  /* Configuration de ton thème directement dans le CSS en v4 */
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-accent: #c9a96e;
  --color-foreground: #e5e5e5;

  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui;
}

/* Tes styles personnalisés */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #fbfbfb;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
